*:focus {
  outline: none;
}

#root {
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: #fff;
  width: 320px;
  position: relative;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid #000
}

.formulaScreen {
  min-height: 20px;
  padding: 5px 5px;
  font-family: monospace;
  font-size: 20px;
  color: grey;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.outputScreen {
  padding: 0 5px;
  font-size: 29px;
  font-family: monospace;
  color: #2f3542;
  text-align: right;
  line-height: 35px;
}

button {
  position: relative;
  height: 65px;
  width: 80px;
  color: #2f3542;
  border: none;
  border: 1px solid #2f3542;
  font-family: monospace;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background: #FFF;
  z-index: 5;
}

#equals {
  border-radius: 0 0 10px 0
}

#zero {
  border-radius: 0 0 0 10px
}

.jumbo {
  width: 160px;
}

#equals {
  height: 130px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0 0 10px 0;
}